# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/xtiqteftou8s/public_html/devapi.asiyaiheavyvehicle.com"
PassengerBaseURI "/"
PassengerPython "/home/xtiqteftou8s/virtualenv/public_html/devapi.asiyaiheavyvehicle.com/3.6/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END